.sessao-brasil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 128px;
}
h4 {
  color: #757579;
  display: flex;
  text-align: right;
  align-items: center;
}
h4 img {
  margin-right: 8px;
}
h2 {
  color: #6b52f0;
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}
.casos-brasil {
  max-width: 150px;
}
